<mat-card>
  <mat-card-header style="display: flex; justify-content: center">
    <mat-card-title>Scan a barcode</mat-card-title>
  </mat-card-header>
  <form style="display: flex; justify-content: space-around" class="example-form" (ngSubmit)="onSubmitScanCode(scanCode)" #scancodeForm="ngForm">
      <mat-form-field>
        <input matInput placeholder="scan a barcode" tabindex="-1" type="text" id="scancode" (blur)="onSubmitScanCode(scanCode)" required [(ngModel)]="scanCode"
          name="scancode" #scancode="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input matInput tabindex="-1" type="number" id="quantity" [(ngModel)]="quantity" name="quantity">
      </mat-form-field>
  </form>
</mat-card>
