.fillNavBar {
    flex: 1 1 auto;
}

mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

div.titleBarPadding {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000; 
  background-color: #FFA726;
}

a {
    color: lightcyan;
}
