<div style="display: flex; justify-content: center" class="titleBarPadding mat-elevation-z10">
  <img style="max-width: 100%; max-height: 100%;" src="../../../assets/img/logo.png">
</div>
<mat-toolbar class="mat-elevation-z7" color="primary" style="-webkit-app-region: drag">
    <mat-toolbar-row>
      <a routerLink=""><mat-icon>home</mat-icon></a>
        <span class="fillNavBar">
        </span>
        <nav mat-tab-nav-bar>
            <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
            {{link.label}}
          </a>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>
